    <div id="remotewindow" class="costummodal">

    <div class="modal-content">
        <div class="player">
            <span id="close2" class="close">&times;</span>
            <div class="d-grid gap-2 col-8 mx-auto">
                <h3 id="videotitle"></h3>

                <button id="pause" class="btncostum" type="button">Пауза</button>
                <button id="quit" class="btncostum" type="button">Закрыть</button>
                <button id="suboff" class="btncostum" type="button">SUB OFF</button>
                <button id="audio_list" class="btncostum" type="button">Аудиодорожки</button>

                <div id="audiolist" class="d-grid gap-2 col-6 mx-auto">

                </div>

                <div id="control" style="display: none;">
                    <div id='resume_b' class="d-grid gap-2 col-8 mx-auto">
                        <button id="resume" type="button" class="btncostum1" style="display: none;">Продолжить</button>
                        <h3 id="seconds">0:0:0</h3>
                        <input type="range" id="seek" name="finde" value="0" step="1"/>
                    </div>


                </div>

                <div id="list_nav" class="flex-container" style="display: none;">
                    <div class="flex-column">
                        <button id="prev" class="btncostum" type="button">Предыдущий</button>
                    </div>
                    <div class="flex-column">
                        <button id="next" class="btncostum" type="button">Следующий</button>
                    </div>
                </div>

                </div>

            </div>


        </div>

    </div>

</div>
